---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Nutri Valley - Moments of Delight | Θρεπτικές Επιλογές"
  description="Θρεπτικές επιλογές σχεδιασμένες για τον σύγχρονο τρόπο ζωής. Premium κονσέρβες, μπάρες πρωτεΐνης, γκοφρέτες, ταχίνι και παιδικά προϊόντα."
>
  <div class="container-center-horizontal">
    <div class="homepage-desktop screen">
      <div class="overlap-group1">
        <div class="rectangle-30"></div>
        <div class="h tiktoksans18pt-bold-tundora-32px">ΠΡΟΪΟΝΤΑ ΓΙΑ ΕΝHΛΙΚΕΣ</div>
        <div class="component-4-1 component-4">
          <div class="text tiktoksans18pt-bold-coconut-16px">ΟΛΑ ΤΑ ΠΡΟΙΟΝΤΑ</div>
          <img class="mask-group" src="/img/mask-group-2-1@1x.png" alt="Mask Group 2" />
        </div>
        <p class="lorem-ipsum-dolor-si-1 lorem-ipsum-dolor-si-5 tiktoksans18pt-regular-normal-tundora-17px">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.
        </p>
        <div class="component-22-1">
          <div class="component-17-1 component-17">
            <div class="premium tiktoksans18pt-bold-tundora-32px">PREMIUM<br />ΚΟΝΣΕΡΒΕΣ</div>
          </div>
          <div class="component-17-3 component-17">
            <div class="premium tiktoksans18pt-bold-tundora-32px">PREMIUM<br />ΚΟΝΣΕΡΒΕΣ</div>
          </div>
          <div class="component-18-1">
            <div class="text-10 tiktoksans18pt-bold-tundora-32px">ΜΠΑΡΕΣ<br />ΠΡΩΤΕΪΝΗΣ</div>
          </div>
          <div class="component-19-1"><div class="text-11 tiktoksans18pt-bold-tundora-32px">ΓΚΟΦΡΕΤΕΣ</div></div>
          <div class="component-20-1"><div class="text-12 tiktoksans18pt-bold-tundora-32px">ΤΑΧΙΝΙ</div></div>
          <div class="component-21-1">
            <div class="text-13 tiktoksans18pt-bold-tundora-32px">ΝΙΦΑΔΕΣ<br />ΒΡΩΜΗΣ</div>
          </div>
        </div>
        <img class="path-68" src="/img/path-66@1x.png" alt="Path 68" />
        <div class="rectangle-96"></div>
        <div class="component-1-1">
          <div class="group-110">
            <h1 class="x">ΚΑΝΕ ΤΟ ΠΡΩΙΝΟ ΤΟΥΣ...<br />ΤΗ ΣΤΙΓΜΗ ΤΗΣ ΗΜΕΡΑΣ!</h1>
            <p class="text-25 tiktoksans18pt-regular-normal-tundora-17px">
              Οι ήρωες που αγαπούν τα παιδιά, σε προϊόντα που αγαπούν οι γονείς.
            </p>
            <div class="component-4-3 component-4">
              <div class="text tiktoksans18pt-bold-coconut-16px">ΟΛΑ ΤΑ ΠΡΟΙΟΝΤΑ</div>
              <img class="mask-group" src="/img/mask-group-2-1@1x.png" alt="Mask Group 2" />
            </div>
          </div>
          <div class="group-111">
            <p class="text-22">ΑΠΟΛΑΥΣΗ &amp; ΙΣΟΡΡΟΠΙΑ<br />ΣΕ ΚΑΘΕ ΕΠΙΛΟΓΗ</p>
            <p class="text-23 tiktoksans18pt-regular-normal-tundora-17px">
              Θρεπτικές επιλογές σχεδιασμένες για τον σύγχρονο τρόπο ζωής.
            </p>
            <div class="component-4-2 component-4">
              <div class="text tiktoksans18pt-bold-coconut-16px">ΟΛΑ ΤΑ ΠΡΟΙΟΝΤΑ</div>
              <img class="mask-group" src="/img/mask-group-2-1@1x.png" alt="Mask Group 2" />
            </div>
          </div>
        </div>
        <img class="path-67" src="/img/path-66@1x.png" alt="Path 67" />
        <img class="path-69" src="/img/path-69@1x.png" alt="Path 69" />
        <div class="group-116">
          <div class="navbar">
            <div class="rectangle-32"></div>
            <div class="rectangle-33"></div>
            <div class="group-34">
              <img class="path" src="/img/path-51-1@1x.png" alt="Path 51" />
              <img class="group" src="/img/group-33-1@1x.png" alt="Group 33" />
              <img class="path-1" src="/img/path-50@1x.png" alt="Path 63" />
            </div>
            <div class="navbar-link-text navbar-link tiktoksans18pt-bold-tundora-17px">ΔΙΑΓΩΝΙΣΜΟΙ</div>
            <div class="navbar-link-events navbar-link tiktoksans18pt-bold-tundora-17px">EVENTS</div>
            <div class="navbar-link-text-1 navbar-link-text-5 tiktoksans18pt-bold-tundora-17px">ΣΧΕΤΙΚΑ</div>
            <div class="navbar-link-text-2 navbar-link-text-5 tiktoksans18pt-bold-tundora-17px">ΕΠΙΚΟΙΝΩΝΙΑ</div>
            <div class="navbar-link-blog navbar-link tiktoksans18pt-bold-tundora-17px">BLOG</div>
            <div class="navbar-link-text-3 navbar-link-text-5 tiktoksans18pt-bold-tundora-17px">ΣΥΝΤΑΓΕΣ</div>
            <div class="ellipse-9"></div>
            <div class="group-35"><img class="line-11" src="/img/line-11-1@1x.png" alt="Line 11" /></div>
            <div class="ellipse-11"></div>
            <div class="group-36">
              <div class="ellipse-12"></div>
              <img class="path-64" src="/img/path-64-1@1x.png" alt="Path 64" />
              <img class="path-65" src="/img/path-65-1@1x.png" alt="Path 65" />
              <img class="line-12" src="/img/line-12-1@1x.png" alt="Line 12" />
              <img class="line-13" src="/img/line-12-1@1x.png" alt="Line 13" />
            </div>
            <div class="group-38">
              <div class="group-37">
                <img class="line-15" src="/img/line-14-1@1x.png" alt="Line 15" />
                <img class="line-14" src="/img/line-14-1@1x.png" alt="Line 14" />
              </div>
            </div>
            <div class="navbar-link-text-4 navbar-link-text-5">ΠΡΟΪΟΝΤΑ</div>
          </div>
        </div>
      </div>
      <div class="group-117">
        <div class="navbar-1">
          <div class="rectangle-32"></div>
          <div class="rectangle-33"></div>
          <div class="group-34">
            <img class="path" src="/img/path-51-1@1x.png" alt="Path 51" />
            <img class="group" src="/img/group-33-1@1x.png" alt="Group 33" />
            <img class="path-1" src="/img/path-50@1x.png" alt="Path 63" />
          </div>
          <div class="navbar-link-text navbar-link tiktoksans18pt-bold-tundora-17px">ΔΙΑΓΩΝΙΣΜΟΙ</div>
          <div class="navbar-link-events navbar-link tiktoksans18pt-bold-tundora-17px">EVENTS</div>
          <div class="navbar-link-text-1 navbar-link-text-5 tiktoksans18pt-bold-tundora-17px">ΣΧΕΤΙΚΑ</div>
          <div class="navbar-link-text-2 navbar-link-text-5 tiktoksans18pt-bold-tundora-17px">ΕΠΙΚΟΙΝΩΝΙΑ</div>
          <div class="navbar-link-blog navbar-link tiktoksans18pt-bold-tundora-17px">BLOG</div>
          <div class="navbar-link-text-3 navbar-link-text-5 tiktoksans18pt-bold-tundora-17px">ΣΥΝΤΑΓΕΣ</div>
          <div class="ellipse-9"></div>
          <div class="group-35"><img class="line-11-1" src="/img/line-11-1@1x.png" alt="Line 11" /></div>
          <div class="ellipse-11"></div>
          <div class="group-36">
            <div class="ellipse-12"></div>
            <img class="path-64" src="/img/path-64-1@1x.png" alt="Path 64" />
            <img class="path-65" src="/img/path-65-1@1x.png" alt="Path 65" />
            <img class="line-12" src="/img/line-12-1@1x.png" alt="Line 12" />
            <img class="line-13" src="/img/line-12-1@1x.png" alt="Line 13" />
          </div>
          <div class="group-38">
            <div class="group-37">
              <img class="line-15" src="/img/line-14-1@1x.png" alt="Line 15" />
              <img class="line-14" src="/img/line-14-1@1x.png" alt="Line 14" />
            </div>
          </div>
          <div class="navbar-link-text-4 navbar-link-text-5">ΠΡΟΪΟΝΤΑ</div>
        </div>
      </div>
      <div class="text-6 tiktoksans18pt-bold-tundora-32px">ΠΑΙΔΙΚΑ ΠΡΟΪΟΝΤΑ</div>
      <p class="lorem-ipsum-dolor-si-2 lorem-ipsum-dolor-si-5 tiktoksans18pt-regular-normal-tundora-17px">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
        dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.
      </p>
      <div class="overlap-group2">
        <div class="component-3-1">
          <div class="component-13-1">
            <div class="component-6">
              <div class="text-1 tiktoksans18pt-bold-tundora-16px">ΟΛΑ ΤΑ ΠΡΟΙΟΝΤΑ</div>
              <img class="mask-group" src="/img/mask-group-4-1@1x.png" alt="Mask Group 4" />
            </div>
            <img class="rectangle-52" src="/img/rectangle-52@1x.png" alt="Rectangle 52" />
          </div>
          <div class="component-14-1">
            <img class="rectangle-53" src="/img/rectangle-53@1x.png" alt="Rectangle 53" />
            <div class="component-6">
              <div class="text-1 tiktoksans18pt-bold-tundora-16px">ΟΛΑ ΤΑ ΠΡΟΙΟΝΤΑ</div>
              <img class="mask-group" src="/img/mask-group-4-1@1x.png" alt="Mask Group 4" />
            </div>
          </div>
          <div class="component-15-1">
            <div class="group-62"></div>
            <div class="component-6">
              <div class="text-1 tiktoksans18pt-bold-tundora-16px">ΟΛΑ ΤΑ ΠΡΟΙΟΝΤΑ</div>
              <img class="mask-group" src="/img/mask-group-4-1@1x.png" alt="Mask Group 4" />
            </div>
          </div>
          <div class="component-16-1">
            <img class="rectangle-79" src="/img/rectangle-79@1x.png" alt="Rectangle 79" />
            <div class="component-6">
              <div class="text-1 tiktoksans18pt-bold-tundora-16px">ΟΛΑ ΤΑ ΠΡΟΙΟΝΤΑ</div>
              <img class="mask-group" src="/img/mask-group-4-1@1x.png" alt="Mask Group 4" />
            </div>
          </div>
        </div>
        <img class="path-66" src="/img/path-66@1x.png" alt="Path 66" />
      </div>
      <div class="overlap-group3">
        <div class="group-65">
          <div class="component-5-1"><div class="text-7 tiktoksans18pt-bold-coconut-16px">ΣΧΕΤΙΚΑ ΜΕ ΕΜΑΣ</div></div>
          <p class="nutri-valley tiktoksans18pt-bold-tundora-21px">
            Η NUTRI VALLEY ΔΗΜΙΟΥΡΓΕΙ ΠΡΟΪΟΝΤΑ<br />ΠΟΥ ΚΑΝΟΥΝ ΤΗΝ ΚΑΘΗΜΕΡΙΝΗ ΔΙΑΤΡΟΦΗ<br />ΠΙΟ ΕΥΚΟΛΗ, ΠΙΟ ΥΓΙΕΙΝΗ
            ΚΑΙ ΠΙΟ ΑΠΟΛΑΥΣΤΙΚΗ<br />ΓΙΑ ΜΙΚΡΟΥΣ ΚΑΙ ΜΕΓΑΛΟΥΣ.
          </p>
          <div class="group-64">
            <p class="text-8 tiktoksans18pt-regular-normal-tundora-17px">
              Υγιεινές και απολαυστικές επιλογές για όλες τις ηλικίες<br />Πλούσια γεύση, ισορροπημένα συστατικά<br />Κατάλληλα
              για κάθε στιγμή της ημέρας<br />Ποιοτικά προϊόντα από αξιόπιστες πρώτες ύλες<br />Παιδικές σειρές με
              ήρωες που λατρεύουν τα παιδιά
            </p>
            <img class="path-71" src="/img/path-71@1x.png" alt="Path 71" />
            <img class="path-72" src="/img/path-71@1x.png" alt="Path 72" />
            <img class="path-73" src="/img/path-71@1x.png" alt="Path 73" />
            <img class="path-74" src="/img/path-71@1x.png" alt="Path 74" />
            <img class="path-75" src="/img/path-71@1x.png" alt="Path 75" />
          </div>
        </div>
      </div>
      <div class="overlap-group">
        <p class="text-9 tiktoksans18pt-bold-tundora-32px">ΣΥΝΤΑΓΕΣ ΜΕ ΤΑ ΠΡΟΪΟΝΤΑ ΜΑΣ</p>
        <p class="lorem-ipsum-dolor-si-3 lorem-ipsum-dolor-si-5 tiktoksans18pt-regular-normal-tundora-17px">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.
        </p>
        <div class="component-container">
          <div class="component-9-1">
            <div class="mask-group-1">
              <div class="group-80"></div>
              <div class="group-1">
                <div class="text-15 tiktoksans18pt-medium-tundora-17px">Τηγανητό ρύζι με κοτόπουλο</div>
                <img class="path-7" src="/img/path-76@1x.png" alt="Path 76" />
              </div>
            </div>
          </div>
          <div class="component-10-1">
            <div class="mask-group-1">
              <div class="group-82"></div>
              <div class="group-1">
                <div class="brownies-with-a-twist tiktoksans18pt-medium-tundora-17px">Brownies with a twist</div>
                <img class="path-7" src="/img/path-76@1x.png" alt="Path 77" />
              </div>
            </div>
          </div>
          <div class="component-1">
            <div class="mask-group-1">
              <div class="group-86"></div>
              <div class="group-1">
                <p class="cott tiktoksans18pt-medium-tundora-17px">Ρυζογκοφρέτα με Cottage Cheese, Μέλι και Κανέλα</p>
                <img class="path-7" src="/img/path-76@1x.png" alt="Path 78" />
              </div>
            </div>
          </div>
          <div class="component-1">
            <div class="mask-group-1">
              <div class="group-84"></div>
              <div class="group-1">
                <p class="text-16 tiktoksans18pt-medium-tundora-17px">Πέστο κόκκινης πιπεριάς και κοτόπουλο</p>
                <img class="path-7" src="/img/path-76@1x.png" alt="Path 79" />
              </div>
            </div>
          </div>
        </div>
        <div class="component-4-5 component-4">
          <div class="text-14 tiktoksans18pt-bold-coconut-16px">ΟΛΕΣ ΟΙ ΣΥΝΤΑΓΕΣ</div>
          <img class="mask-group" src="/img/mask-group-2-1@1x.png" alt="Mask Group 2" />
        </div>
        <div class="overlap-group5">
          <div class="group-67"></div>
          <div class="component-8-1"><div class="events tiktoksans18pt-bold-tundora-16px">ΟΛΑ ΤΑ EVENTS</div></div>
          <p class="lorem-ipsum-dolor-si-4 lorem-ipsum-dolor-si-5 tiktoksans18pt-regular-normal-tundora-17px">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, euismod&nbsp;&nbsp;quis notrud
            exerci tation ulorper suscipit lobortis nisl ut aliquip.
          </p>
          <p class="nutri-valley-1 tiktoksans18pt-bold-tundora-21px">
            Η NUTRI VALLEY ΤΑΞΙΔΕΥΕΙ ΠΑΝΤΟΥ. ΕΛΑΤΕ ΝΑ ΓΝΩΡΙΣΤΟΥΜΕ ΣΕ ΚΑΠΟΙΟ EVENT ΜΑΣ!
          </p>
          <div class="component-7-1">
            <div class="group-71"></div>
            <div class="group-73"></div>
            <div class="group-75"></div>
          </div>
        </div>
        <div class="overlap-group-container">
          <div class="group-container">
            <div class="group-90"></div>
            <div class="group-9">
              <div class="group-9-1">
                <p class="text_label tiktoksans18pt-bold-tundora-21px">
                  ΓΙΑΤΙ ΝΑ ΕΠΙΛΕΞΕΤΕ ΤΟ ΦΙΛΕΤΟ ΚΟΤΟΠΟΥΛΟ ΤΗΣ NUTRI VALLEY
                </p>
                <p class="lorem-ipsum-dolor-si tiktoksans18pt-regular-normal-tundora-17px">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                  laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, euismod quis notrud
                  exerci.
                </p>
              </div>
            </div>
          </div>
          <div class="group-container">
            <div class="group-92"></div>
            <div class="group-9">
              <div class="group-9-1">
                <div class="nutri-valley-2 tiktoksans18pt-bold-tundora-21px">ΒΙΩΣΙΜΟΤΗΤΑ ΤΗΣ NUTRI VALLEY</div>
                <p class="lorem-ipsum-dolor-si tiktoksans18pt-regular-normal-tundora-17px">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                  laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, euismod quis notrud
                  exerci.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-row flex">
          <div class="flex-col flex">
            <div class="group-28">
              <img class="path" src="/img/path-38@1x.png" alt="Path 38" />
              <img class="group" src="/img/group-27@1x.png" alt="Group 27" />
              <img class="path-1" src="/img/path-50@1x.png" alt="Path 50" />
            </div>
            <p class="nutri-valley-2025">© Nutri Valley 2025. All Rights Reserved</p>
          </div>
          <div class="flex-col-1 flex-col-3">
            <div class="flex-row-1 flex-row-4">
              <div class="flex-col-2 flex-col-3">
                <img class="path-82" src="/img/path-82@1x.png" alt="Path 82" />
                <div class="group-97">
                  <div class="rectangle-75"></div>
                  <img class="path-83" src="/img/path-83@1x.png" alt="Path 83" />
                </div>
                <div class="group-98">
                  <img class="path-84" src="/img/path-84@1x.png" alt="Path 84" />
                  <div class="ellipse-13"></div>
                </div>
              </div>
              <div class="flex-row-2 flex-row-4">
                <p class="x30-212-000-1022inf">
                  +30 212 000 1022<br />info@nutrivalley.gr<br />Ικαρίας 16, Κηφισιά, ΤΚ 14562
                </p>
                <div class="text_label-1">Όροι Χρήσης<br />Πολιτική Απορρήτου<br />Πολιτική Cookies</div>
              </div>
            </div>
            <div class="flex-row-3 flex-row-4">
              <div class="powered-by-thinktank">Powered by Thinktank</div>
              <div class="facebook">Facebook</div>
              <div class="instagram">Instagram</div>
              <div class="facebook-kids">Facebook Kids</div>
              <div class="instagram-kids">Instagram Kids</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
